{% trans_default_domain('admin.delivery.package') %}

<main class="main d-print-none ">

    <section class="container px-4 mb-5">

        <div class="mt-3 d-flex justify-content-between">
            {{ include(_self|replace({ "content.html.twig": "_breadcrumb.html.twig" })) }}
        </div>


        <div class="d-flex justify-content-between align-items-center mb-3">


            <div class="w-100">
                <h1 class="h4 text-uppercase fw-bolder mb-0">
                    {{ 'admin.page.index'|trans }}

                    {% if filter.date.vars.data|date('d.m.Y') != date('now')|date('d.m.Y') %}
                        <span class="text-danger pointer"
                              data-bs-toggle="tooltip"
                              data-bs-placement="bottom"
                              data-bs-delay='{"show":600,"hide":100}'
                              title="Дата не является текущей"
                        >
                            {{ filter.date.vars.data|date('d.m.Y') }}
                        </span>
                    {% elseif filter.date.vars.data is not null %}
                        {{ filter.date.vars.data|date('d.m.Y') }}
                    {% endif %}

                </h1>
            </div>


            <div class="w-100 d-flex align-items-center gap-3 justify-content-end">

                {# Добавить перемещение #}
                {# {% if is_granted('ROLE_PRODUCT_STOCK_MOVING_NEW') or is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('products-stocks:admin.moving.new') }}"
                       class="btn btn-danger modal-link"
                       data-bs-toggle="modal"
                       data-bs-target="#modal"
                       title="Добавить перемещение">
                        {{ 'Добавить перемещение'|trans({}, 'messages') }}
                    </a>
                {% endif %} #}


            </div>
        </div>

        <div class="border border-light rounded-4 p-3">
            <div class="d-flex justify-content-between">

                {# Форма поиска по разделу #}
                {% include Template('/_includes/'~baks_settings.device~'/search.html.twig') %}

                <div class="col-2">

                    {{ form_start(filter) }}

                    <div class="w-100" style="height: 55px;">

                        <div class="input-group mb-3">
                            <span class="input-group-text">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                     class="bi bi-calendar2-week" viewBox="0 0 16 16">
                                    <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM2 2a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H2z"/>
                                    <path d="M2.5 4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5V4zM11 7.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-5 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z"/>
                                </svg>
                            </span>

                            {{ form_widget(filter.date, { attr: { placeholder : 'Дата' } }) }}

                        </div>

                    </div>
                    {{ form_end(filter) }}
                </div>
            </div>

            {# Контент > #}

            <div class="fw-bold mt-3 accordion" id="accordionPackage">

                {% set card = null %}

                {% for key, item in query.data %}

                {% if card != item.package_id %}

                {% if card is not null %}
                </table>
            </div>
        </div>
        {% endif %}


        {% set package_status = item.package_status %}




        {# TODO:  #}
        {# {% set package_status = 'delivery' %} #}

        {% set package_orders = item.package_orders|json_decode %}

        {# Сортируем в обратном порядке для погрузки #}
        {% if package_status != 'delivery' %}

            {#{{ dd(package_orders) }}#}

            {#{% set package_orders = package_orders|sort((a, b) => a.package_order_sort <=> b.package_order_sort)|reverse %}#}
        {% endif %}





        <div class="card mb-3" style="">


            <div class="card-header bg-body border-light">

                <div class="card-title w-100 d-flex gap-5 justify-content-between align-items-center text-secondary mb-0">

                    <button class="accordion-button collapsed btn-sm border-0 shadow-none bg-body" style="width: 20px;"
                            type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse{{ item.package_id }}"
                            aria-expanded="{{ item.package_id == package ? 'true' : 'false' }}"
                            aria-controls="collapse{{ item.package_id }}">
                    </button>


                    <div class="text-nowrap">


                        <a href="#" class="text-hover-primary fw-bolder text-decoration-none">


                            {% if package_status == 'delivery' %}

                                <span class="badge text-bg-success me-3">
                                    Доставка
                                </span>

                            {% elseif package_status == 'completed' %}

                                <span class="badge text-bg-light me-3">
                                    Выполнен
                                </span>

                            {% else %}

                                <span class="badge text-bg-warning me-3"
                                      data-bs-toggle="tooltip"
                                      data-bs-placement="bottom"
                                      data-bs-delay='{"show":600,"hide":100}'
                                      title="Чем больше маршрут в листе - тем первым транспорт в очереди на погрузку"
                                >

                                 Погрузка {{ key + 1 }}
                            </span>



                            {% endif %}

                        </a>


                        {# Датат путевого листа #}
                        {% if item.package_date|date('d.m.Y') != date('now')|date('d.m.Y') %}
                            <span class="text-danger pointer"
                                  data-bs-toggle="tooltip"
                                  data-bs-placement="bottom"
                                  data-bs-delay='{"show":600,"hide":100}'
                                  title="Дата не является текущей"
                            >
                                {{ item.package_date|date('d.m.Y') }}
                            </span>
                        {% elseif filter.date.vars.data is not null %}
                            <span class="fw-normal text-nowrap">
                                {{ item.package_date|date('d.m.Y') }}
                            </span>
                        {% endif %}

                    </div>



                    {# СКЛАД #}
                    <div class="text-dark text-nowrap ">
                        <div>
                            <span class="text-muted opacity-50">Транспорт:</span>&nbsp;{{ item.transport_name }} {{ item.transport_number }}
                        </div>
                        <div>
                            <span class="text-muted opacity-50">Склад погрузки:</span>&nbsp; {{ item.warehouse_name }}
                        </div>
                    </div>

                    <div class="d-flex w-75 gap-3">

                    </div>


                    <div>
                        <a href="{{ path('delivery-transport:admin.package.navigator', { id : item.package_id }) }}"
                           class="btn btn-primary text-nowrap"
                           data-bs-toggle="tooltip"
                           data-bs-placement="bottom"
                           data-bs-delay='{"show":600,"hide":100}'
                           title="Весь маршрут доставки заказов"
                           target="_navigator"
                        >
                            Маршрут
                        </a>
                    </div>

                    {# СКЛАД #}

                </div>
            </div>

            <div id="collapse{{ item.package_id }}"
                 class="card-body fw-normal mb-0 accordion-collapse collapse {{ item.package_id == package ? 'show' : '' }}"
                 aria-labelledby="headingTwo" data-bs-parent="#accordionPackage">

                <table>
                    <tbody>
                    {{ include(_self|replace({ "content.html.twig": "_table.thead.html.twig" })) }}
                    </tbody>

                    {% set card = item.package_id %}
                    {% endif %}

                    {% for sort, orders in package_orders %}
                        {{ include(_self|replace({ "content.html.twig": "_table.tbody.html.twig" })) }}
                    {% endfor %}

                    {% endfor %}
                </table>
            </div>
        </div>

        {# < Контент #}

        {% include Template('_includes/'~baks_settings.device~'/pagination.html.twig') with { 'pagination' : query } %}

        </div>

    </section>

</main>

