{% trans_default_domain 'admin.delivery.transport' %}

<div class="d-flex justify-content-between gap-3">

	{# Регистрационный номер #}
	{{ form_row(form.number, { label: 'admin.form.label.number'|trans }) }}

	{# Грузоподъемность, кг. #}
	{{ form_row(form.parameter.carrying, { label: 'admin.form.label.carrying'|trans} ) }}

</div>

	{# склада, за которым закреплен транспорт #}
	{{ form_row(form.warehouse, {
		label: 'Закрепить за складом', placeholder: 'Выберите Cклад из списка...', attr: { 'data-select' : 'select2' }
	}) }}

<div class="d-flex justify-content-around pb-3 radio-buttons " data-buttons="true" style="clear: both;">
	<label class="btn p-3 border-dashed rounded-3 w-100 {{ form.active.vars.data ? 'active' }}">
		<div class="d-flex align-items-center">
			<div class="flex-grow-1">
                <span class="h5">
                    <div class="form-check d-flex align-items-center">
                        {{ form_widget(form.active, { label: false }) }}
                        <span>
                            {{ 'admin.form.label.active'|trans }}
                        </span>
                    </div>
                </span>
			</div>
		</div>
	</label>
</div>