{% trans_default_domain 'admin.delivery.package' %}

{% set current = products|first %}

<div class="modal-dialog modal-dialog-centered" style="max-width: 800px;">
	{{ form_start(form) }}
	<div class="modal-content p-3 border-bottom border-5 border-primary">
		<div class="modal-header">

			<h5 class="modal-title">

				{% if current.destination %}
					{# Доставка заказа #}
					{{ 'Доставка перемещения'|trans }}
				{% else  %}
					{# Доставка заказа #}
					{{ 'Доставка заказа'|trans }}
				{% endif %}
				 {{ current.number }}

			</h5>

			<div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
				<span class="svg-icon svg-icon-2x"></span>
			</div>
		</div>

		<div class="modal-body">



			{% if current.destination %}
				<div class="w-100 text-uppercase text-muted opacity-50">Перемещение</div>
			{% else %}
				<div class="w-100 text-uppercase text-muted opacity-50">Клиент</div>
				{# Клиент #}
				{{ user_profile(current.order_client) }}
			{% endif %}


			{# Пункт назанчания #}
			{% if current.destination %}
				{{ current.destination|call_twig_func('contacts_region_type') }}
			{% else %}


				{% for field in current.order_fields|json_decode %}
					{{ field.order_field_value|call_twig_func(field.order_field_type, field.order_field_name) }}
				{% endfor %}
			{% endif %}


			<hr>





			<div class="d-flex justify-content-between align-items-center gap-3 text-uppercase text-muted opacity-50">
				<div class="w-100">Продукция</div>
				<div class="w-25 text-center">Количество</div>
			</div>



			{% for product in products %}
				<div class="d-flex justify-content-between align-items-center gap-3">

					<div class="w-100 d-flex align-items-center gap-3">
						{# ФОТО ПРОДУКТА  #}
						{% set img_path = product.product_image_cdn == true ? cdn_host : '' %}
						{% set product_image_ext = product.product_image_cdn == true ? 'small.'~product.product_image_ext : product.product_image_ext %}

						<div class="rounded-circle bg-contain lazy p-1" style="width: 50px; height: 50px;"
							 data-bg="{{  product.product_image ? img_path ~ product.product_image ~ product_image_ext : '/assets/img/blank.svg' }}">
						</div>

						<div>

							<a href="{{ path('Product:user.detail', {
								url : product.product_url ,
								offer: product.product_offer_value,
								variation: product.product_variation_value,
								modification: product.product_modification_value
							}) }}" target="_detail">

								{{ product.product_name }}

								{# Значение торгового предложения #}
								{{ product.product_offer_value|call_twig_func(product.product_offer_reference) }}
								{{ product.product_offer_postfix }}

								{# Значение множественного варианта ТП #}
								{{ product.product_variation_value|call_twig_func(product.product_variation_reference) }}
								{{ product.product_variation_postfix }}

								{# Значение модификации множественного варианта ТП #}
								{{ product.product_modification_value|call_twig_func(product.product_modification_reference) }}
								{{ product.product_modification_postfix }}

							</a>

							<div class="text-muted small">

								{% if product.product_offer_value %}
									{{ product.product_offer_name }} : {{ product.product_offer_value|call_twig_func(product.product_offer_reference) }}
								{% endif %}

								{% if product.product_variation_value %}
									, {{ product.product_variation_name }} : {{ product.product_variation_value|call_twig_func(product.product_variation_reference) }}
								{% endif %}

								{% if product.product_modification_value %}
									, {{ product.product_modification_name }}: {{ product.product_modification_value|call_twig_func(product.product_modification_reference~'_render') }}
								{% endif %}
							</div>
						</div>
					</div>




					<div class="ms-3 fw-bolder w-25 text-center h5">
						{{ product.total }}
					</div>

				</div>
			{% endfor %}


			{#{% for product in order_products %}
				<div class="d-flex gap-3 align-items-center w-100">

					{% set card = product.vars.data.card %}


					{% set img_path = card.product_image_cdn == true ? cdn_host : '' %}
					{% set product_image_ext = card.product_image_cdn == true ? 'small.'~card.product_image_ext : card.product_image_ext %}


					#}{# ФОТО ПРОДУКТА  #}{#
					<div>
						<div class="icon rounded-4 mb-2 bg-contain p-1"
							 style="width: 75px; height: 75px; background-image: url('{{ card.product_image ? img_path ~ card.product_image ~ product_image_ext : '/assets/img/blank.svg' }}');"
						></div>
					</div>

					<div>
						<strong>
							{{ card.product_name }}

							#}{# Значение торгового предложения #}{#
							{{ card.product_offer_value|call_twig_func(card.product_offer_reference) }}

							#}{# Значение множественного варианта ТП #}{#
							{{ card.product_variation_value|call_twig_func(card.product_variation_reference) }}

							#}{# Значение модификации множественного варианта ТП #}{#
							{{ card.product_modification_value|call_twig_func(card.product_modification_reference) }}

							#}{# Свойства, учавствующие в названии #}{#
							#}{# {% for name_property in arr_property | filter(props => props.field_name == true) %}
                    {{ name_property.field_name|call_twig_func(name_property.field_type) }}
                {% endfor %} #}{#


							#}{# {{ dump(product.vars.data) }}
                {{ dump(product.vars.data.price.total) }} #}{#


						</strong>

						&nbsp;

						#}{# Количество в заказе #}{#
						<strong class="text-primary">( {{ product.vars.data.price.total }} шт. )
						</strong>

						&nbsp;

						{% if form.vars.data.users.delivery.pickup == false and product.vars.data.price.total > card.stock %}
							<span class="text-danger">
                                {% if card.stock %}
									В наличии на складе <strong>{{ card.stock }}</strong> шт.
								{% else %}
									Нет в наличии
								{% endif %}
                            </span>

							<div class="mt-1">


								#}{# {% for move in form.move %}
                                    {{ dump(move) }}
                                {% endfor %}
								#}{#


								#}{# Перемещение  #}{#
								{% if product.move %}

									{% for move_product in product.move.product %}
										{{ form_row(move_product.product) }}
										{{ form_row(move_product.offer) }}
										{{ form_row(move_product.variation) }}
										{{ form_row(move_product.modification) }}

									{% endfor %}

									#}{#{{ dump(product.vars.data) }}#}{#

									<div class="d-flex gap-3 align-items-center">
										{% if product.move.warehouse is defined %}

											<span>Переместить недостоток {{ (product.vars.data.price.total - card.stock) }} шт. со склада:</span>

											<div class="w-50">
												{{ form_widget(product.move.warehouse, {
													placeholder: 'Выберите целевой Склад для перемещения ...', attr: { 'data-select' : 'select2' }
												}) }}
											</div>

										{% else %}
											<span class="text-danger">
                                            Нет в наличии для перемещения
                                        </span>
										{% endif %}
									</div>



									{{ form_row(product.move.move.destination ) }}

								{% endif %}


							</div>
						{% else %}

							{% if card.stock %}
								&nbsp; <span class="text-success">В наличии  <strong>{{ card.stock }}</strong> шт. </span>
							{% else %}
								<span class="text-danger">Нет в наличии</span>
							{% endif %}

						{% endif %}


					</div>

				</div>


			{% endfor %}#}







			<h4>
				{# Вы уверены, что желаете удалить транспорт #}
				{#{{ 'admin.form.label.delete'|trans }} "{{ name }}"?#}

			</h4>
			<br>
			<p>

				Убедитесь, что выбран именно тот заказ, который необходимо выдать клиенту, и нажмите Заказ выдан. Если вы ошиблись в заказе, нажмите кнопку Отмена.

				{# Убедитесь, что выбран именно тот объект, который нужно удалить, и нажмите Удалить. Если вы не
                    желаете удалять выбранный объект, нажмите кнопку Отмена.  #}
				{#{{ 'txt.default.delete'|trans({}, 'core.modal') }}#}
			</p>
		</div>

		<div class="modal-footer">
			{# Отмена #}

			<button type="button" class="btn btn-light" data-bs-dismiss="modal">
				{{ 'btn.cancel'|trans({}, 'core.btn') }}
			</button>

			{% if current.destination %}

				{{ form_widget(form.completed_package, { label: '
				<span>Выдать перемещение</span>
				<span class="spinner-border spinner-border-sm vertical-middle d-none"></span>
			', attr: { class : 'btn-success' }}) }}

			{% else %}

				{{ form_widget(form.completed_package, { label: '
				<span>Заказ выдан клиенту</span>
				<span class="spinner-border spinner-border-sm vertical-middle d-none"></span>
			', attr: { class : 'btn-success' }}) }}


			{% endif %}





		</div>
	</div>
	{{ form_end(form) }}
</div>


